.sidepanel-container {
    position: absolute;
    left: 0;
    min-height: 4vw;
    background-color: white;
    top: 30%;
    translate: 0 -50%;
    border-radius: 0 8px 8px 0;
    padding: 10px;
}

.sidepanel-image {
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidepanel-image:last-of-type {
    margin-bottom: 0;
}

.sidepanel-image:hover {
    background-color: #9a9ae1cc;
}

.selected {
    background-color: #9a9ae1cc;
}

.sidepanel-icon {
    width: 4vw;
    aspect-ratio: 1;
}
